* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.top-page{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 88px;
  width: 100%;
  background-color: #000;
}

.nav-bar {
  margin-top: 18px;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  flex-direction: row;
  gap: 42px;
}

.nav-bar ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  gap: 8px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #ffff;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
}

.nav-bar ul li svg {
  height: 25px;
  width: 100%;
}

.nav-bar ul:hover li a {
  opacity: 0.3;
}

.nav-bar ul li a:hover {
  opacity: 1;
  transform: scale(1.07);
}

svg {
  filter: invert(0%);
  /* background-color: #e8a7a7; */
  color: #fff;
  font-size: 20px;
  height: 15px;
  width: 100%;
}

.btn-login {
  box-shadow: 0 0 10px #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 44px;
  width: 135px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  gap: 5px;
  margin-right: 25px;
  transition: all 2s ease;
}

.btn-login:hover {
  background-color: #ff2626;
  box-shadow: 0 0 10px #ff2626;
}

.btn-login span {
  margin-right: 27px;
}

.btn-login svg {
  height: 24px;
  width: 100%;
}